#yt-persist-trigger {
  position: absolute;
  z-index: 1000001;
  top: auto;
  left: auto;
  margin: 5px;
  border: 3px solid #ddd;
  border-radius: 25%;
  padding: 8px 10px;
  color: red;
  background-color: #ddd;
  opacity: .7;
}

#yt-persist-mock {
  transition: all 250ms ease-in;
  transform: scale(1);
}

.yt-persist-player {
  z-index: 1000000;
  transform: scale(0.65) !important;
  transform-origin: bottom right;
  position: fixed !important;
  bottom: 1vw !important;
  right: 1vw !important;
  float: right;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}